@import "tailwindcss";

@theme {
  --color-beige: #2C2C2C;
  --color-brown: #C19A6B ;
}

@font-face {
  font-family: 'Lemonmilk';
  src: url(D:\Project\Frontend\src\assets\LEMONMILK-Regular.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-[url(assets\gradient4-svg.svg)];
  font-family: 'Lemonmilk', sans-serif;
  color:#2C2C2C;
}


 .hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

 